<launch>
    <!-- <arg name="mav_name" default="pelican"/>
    <arg name="world_name" default="basic"/> -->

    <node name="path_planning_node" pkg="rrt_planner" type="path_planning_node" />
    <node name="rviz" pkg="rviz" type="rviz"/>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
</launch>
